<div class="list-group" role="group" aria-label="History">
    {% for id, record in data.history.items %}
        <li class="row btn align-items-center m-1">
            <form class="btn-group align-items-center record" id="{{ id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="record" value="{{ id }}">
                <div class="input-group-text btn-lg">{{ id }}</div>
                <div class="col mx-1 form-floating">
                    <input type="text" class="form-control btn-lg name w-auto" name="name" id="name_{{ id }}" value="{{ record.name }}" placeholder="{{ id }}" maxlength="64">
                    <label for="name_{{ id }}">Name</label>
                </div>
                {% if record.error %}
                    <a class="col mx-1 btn btn-outline-primary btn-lg w-100" href="?download={{ id }}">Download</a>
                    <a class="col mx-1 btn btn-outline-danger btn-lg w-100" href="?delete={{ id }}">Error: {{ record.error }}</a>
                {% else %}
                    {% if record.isloaded %}
                        <a class="col mx-1 btn btn-outline-secondary btn-lg w-100 load">Load</a>
                    {% else %}
                        <a class="col mx-1 btn btn-outline-secondary btn-lg w-100">Loading...</a>
                    {% endif %}
                    <input type="submit" name="save" class="col mx-1 btn btn-outline-success btn-lg w-100" value="Save">
                    <a class="col mx-1 btn btn-outline-primary btn-lg w-100" href="?download={{ id }}">Download</a>
                    <a class="col mx-1 btn btn-outline-danger btn-lg w-100" href="?delete={{ id }}">Delete</a>
                {% endif %}
            </form>
        </li>
    {% endfor %}
</div>